.kanji {
        display: inline-block;
        font-size: 15px;
        line-height: 157px;
        width: 15px;
        height: 150px;
        position: relative;
        transform-origin: top left;
}

.empty {
        background-color: rgba(205, 179, 179)
}
